html {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
}


body{
    margin: 0px;    
    background-color: #222;
    color: white;
}




header{
    display: flex;
    justify-content: space-around;
    background-color: #681414;
    padding: 20px;
   
    border-bottom: 5px solid white;
}


input {
    padding: 10px;
    font-size: 1em;
    width: 80px;
    text-align: center;
  }


.btn {
    border: none;
    background-color: #eee;
    color: #222;
    font-size: 1rem;
    font-family: inherit;
    padding: 1rem 2rem;
    cursor: pointer;
  }


  .zona-principal{
    display: flex;
    justify-content: center;
    padding: 40px;
  }
